h1{
    color: red;
}
button{
    background-color: red;
}
.right-half-bg {
    background-image: url("../images/image1.png");
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 32%;
    z-index: -1;
}
.box{
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.box img{
    float: left;
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
}

.box h2{
    color: black;
    font-size: 16px;
    margin-top: 0;
}

.box p{
    text-align: justify;
    font-size: 14px;
}
.footer {
    background-color: black;
    color: white;
}
.footer .nav-link {
    color: gray;
    margin-bottom: 15px;
}
h5{
    margin-bottom: 15px;
}
.copyright {
    display: block;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}